<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
<body background="/static/img/Starry.jpg" style="">
<audio controls="controls"  loop autoplay="autoplay" >

  <source  src="/static/mp3/纯音乐.mp3" type="audio/mpeg" />
Your browser does not support the audio <element class=""></element>
</audio>


    <div class="container" >

      <form class="form-signin" action="" method="post" novalidate>
        <font size="10" color="white" >登录</font>
        <label for="inputEmail"  class="sr-only">账号</label>
        <input  id="inputEmail" name="user" style="width:30%;"class="form-control" placeholder="账号" required="" autofocus="">
        <label for="inputPassword" class="sr-only">密码</label>
        <input   type="password" name="pwd" style="width:30%" id="inputPassword" class="form-control" placeholder="密码" required="">

        <br>
          <<font  color="white" >验证码</font><input type="text" name="codevalue" placeholder="请输入验证码">

        <br>
          <img src="../gggg" id="code" onclick="refresh_captcha(this)" alt="验证码" >
          <br>

          <script>
function refresh_captcha(obj) {
    obj.src = '/gggg?temp='+Math.random()
}
 </script>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> 记住我
          </label>
        </div>
        <button  style="width:30%" class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
          <a class="pass-reglink pass-link" href="reglink">立即注册</a>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->



</body>
</html>